



*{
    box-sizing: border-box;
}
.column{
    float: left;
    width: 33.33%;
    padding: 5px;

}
h1{color: aliceblue;}
p{color: antiquewhite;}
.row::after{
    content:"";
    display: table;
    clear: both;
}
{
margin:0;
padding:0;
font-family:'Poppins', sans-serif;
}
{
display:flex;
justify-content: center ;
align-items: center;
min-hieght: 100vh;
flex-direction:#040d15;
}
a
{ 
position: relative;
display: inline-block;
padding: 12px 36px;
margin: 10px 0;
color: #fff;
text-decoration: none;
text-transform: uppercase;
font-size: 18px;
letter-spacing: 2px;
border-radius: 40px;
background: linear-gradient(90deg,#0162c8,#55e7fc);
}
a:nth-child(2)
{
    background: linear-gradient(90deg,#755bea,#55efc0);

}
span{
position: absolute;
background: #fff;
transform: translate(-50%,-50%);
pointer-events: none;
border-radius: 50%;
animation: animate 1s linear infinite;

}
@keyframes animate
{
    0%{
        width: 0px;
        height: 0px;

    }
 100% 
 {
        width: 50px;
        height: 50px;
        
    }
}